<%- include('partials/header'); -%>
<div class="container">
	<h1><%= post.title %></h1>
	<p>Posted in <a href="/posts/show/<%=post.category %>"><%= post.category %></a> by <em> <%= post.author %></em> on <%= moment(post.date).format("MM-DD-YYYY") %></p>
	<img class="card-img-top img-responsive" src="/images/uploads/<%= post.mainPicture %>" height="500cm" width="500cm">
	<p><%= post.body %></p>
	<br> 
	<div class="text-right">
		<a class="btn btn-success" href="/posts/show/<%= post._id %>/comments/new">Add New Comment</a>
	</div>
	<% post.comments.forEach(function(comment){ %>
		<div class="row">
			<div class="col-md-12">
				<strong><%= comment.name %>-</strong>
				<p><%= comment.text %></p>
			</div>	
		</div>

	<%}) %>
</div>


<%- include('partials/footer'); -%>